## Data Exploration
To interact with this notebook run `jupyter notebook viz_prod.ipynb` from command line.

In [1]:
import pandas as pd
import build_db
from core.data.socrata import soda_data, socrata_api_requests
from core.data import dbclient, daily_case_data_by_zip
from core.data.groundtruth import process_ground_truth_data

In [2]:
# connect to db and show all tables
db = dbclient.DBClient()
db.cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(db.cursor.fetchall())

[('VACCINATIONS',), ('DAILY_COVID_CASE_DATA',), ('DAILY_FOOT_TRAFFIC_DATA',), ('TRAFFIC_CRASH_DATA',), ('DEMOGRAPHICS',)]

### Daily Case Data

In [3]:
query = f"select * from {build_db.CASE_TBL}"
print(f"query = {query}")
covid_case_df = pd.read_sql_query(query, db.conn)
covid_case_df.describe(include='all')

query = select * from DAILY_COVID_CASE_DATA

,index,STD_DATE,ZIPCODE,confirmed_cases,confirmed_cases_change,total_tested,total_tested_change,AVG7DAY_confirmed_cases,AVG7DAY_total_tested
count,324519.000000,324519,324416,324519,324519,324519,324519,315758.000000,315758.000000
unique,NaN,317,1445,6760,194,38665,1755,NaN,NaN
top,NaN,2021-03-07 00:00:00,60630,6,0,147,0,NaN,NaN
freq,NaN,1429,317,8950,144271,334,27164,NaN,NaN
mean,162259.000000,NaN,NaN,NaN,NaN,NaN,NaN,469.053303,6228.459485
std,93680.710341,NaN,NaN,NaN,NaN,NaN,NaN,981.126570,17667.067157
min,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,10.428571
25%,81129.500000,NaN,NaN,NaN,NaN,NaN,NaN,25.714286,383.142857
50%,162259.000000,NaN,NaN,NaN,NaN,NaN,NaN,98.000000,1219.000000
75%,243388.500000,NaN,NaN,NaN,NaN,NaN,NaN,439.428571,5647.571429
max,324518.000000,NaN,NaN,NaN,NaN,NaN,NaN,16047.428571,828748.428571

### Vaccination Data

In [4]:
query = f"select * from {build_db.VACC_TBL}"
print(f"query = {query}")
vacc_df = pd.read_sql_query(query, db.conn)
vacc_df.describe(include='all')

query = select * from VACCINATIONS

,index,ZIPCODE,STD_DATE,total_doses_daily,total_doses_cumulative,vaccine_series_completed_daily,vaccine_series_completed_percent_population,population,AVG7DAY_total_doses_daily,AVG7DAY_vaccine_series_completed_daily
count,5000.000000,4917,5000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,4563.000000,4563.000000
unique,NaN,59,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,60640,2021-03-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,85,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2499.500000,NaN,NaN,129.728600,3883.380200,45.248600,0.027418,46186.879400,133.371998,46.083905
std,1443.520003,NaN,NaN,144.694755,4568.824501,65.568638,0.039322,26539.641677,120.484420,54.030170
min,0.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1249.750000,NaN,NaN,20.000000,459.000000,0.000000,0.000000,28569.000000,36.500000,2.428571
50%,2499.500000,NaN,NaN,81.000000,1960.500000,17.000000,0.011000,46591.000000,100.285714,25.857143
75%,3749.250000,NaN,NaN,195.000000,5978.000000,63.000000,0.040000,67711.000000,202.714286,68.928571
max,4999.000000,NaN,NaN,1360.000000,23141.000000,522.000000,0.282000,110029.000000,768.428571,259.428571

### Foot Traffic Data

In [5]:
query = f"select * from {build_db.FOOT_TRAFF_TBL}"
print(f"query = {query}")
foot_traffic_df = pd.read_sql_query(query, db.conn)
foot_traffic_df.describe(include='all')

query = select * from DAILY_FOOT_TRAFFIC_DATA

,index,STD_DATE,ZIPCODE,AIRPORTS_TRANSIT_CENTERS,BARS,BEAUTY_WELLNESS,FITNESS_CENTERS,GROCERY,MASS_MERCH,MEDICAL_CENTERS_HOSPITALS,...,RESTAURANT,RETAIL,SCHOOLS_LIBRARIES,SHOPPING_CENTERS_MALLS,TOURIST_ATTRACTIONS,AVG7DAY_BARS,AVG7DAY_GROCERY,AVG7DAY_RESTAURANT,AVG7DAY_PARKS_BEACHES,AVG7DAY_SCHOOLS_LIBRARIES
count,24360.000000,24360,24360,15960.000000,23940.000000,24360.000000,21000.000000,15960.000000,15540.000000,23940.000000,...,23520.000000,18480.000000,23520.000000,21000.000000,18480.000000,23598.000000,15732.000000,23184.000000,21528.000000,23184.000000
unique,NaN,420,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,2020-04-01 00:00:00,60661,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,58,420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,12179.500000,NaN,NaN,50.055890,55.199165,64.894048,57.042762,84.678133,61.462162,62.712114,...,91.944005,59.928842,53.697279,65.139333,57.546158,54.925835,84.644355,91.696114,78.781082,53.345349
std,7032.270615,NaN,NaN,57.201082,38.199650,28.016340,50.879086,33.032386,36.647893,29.982223,...,258.186658,40.681179,40.434988,28.709798,50.413012,32.797114,29.828784,245.813491,97.942508,33.411937
min,0.000000,NaN,NaN,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,5.428571,0.000000
25%,6089.750000,NaN,NaN,20.000000,30.000000,48.000000,31.000000,63.000000,40.000000,42.000000,...,47.000000,30.000000,28.000000,46.000000,23.000000,32.714286,64.571429,49.428571,44.857143,30.285714
50%,12179.500000,NaN,NaN,33.000000,47.000000,63.000000,45.000000,81.000000,63.000000,59.000000,...,68.000000,57.000000,48.000000,64.000000,50.000000,47.857143,82.428571,69.142857,66.571429,48.428571
75%,18269.250000,NaN,NaN,65.000000,72.000000,81.000000,69.000000,102.000000,84.000000,77.000000,...,90.000000,83.000000,68.000000,81.000000,82.000000,71.857143,102.142857,90.285714,91.571429,67.464286
max,24359.000000,NaN,NaN,1500.000000,560.000000,243.000000,1424.000000,284.000000,355.000000,335.000000,...,4900.000000,550.000000,749.000000,354.000000,800.000000,488.857143,233.000000,3700.000000,3209.571429,679.428571

### Traffic Crash Data

In [6]:
query = f"select * from {build_db.CRASHES_TBL}"
print(f"query = {query}")
crashes_df = pd.read_sql_query(query, db.conn)
crashes_df.describe(include='all')

query = select * from TRAFFIC_CRASH_DATA

,index,STD_DATE,ZIPCODE,crash_count,AVG7DAY_crash_count
count,43049.000000,43049,42381,43049.000000,41979.000000
unique,NaN,796,70,NaN,NaN
top,NaN,2019-07-22 00:00:00,60619.0,NaN,NaN
freq,NaN,62,796,NaN,NaN
mean,21524.000000,NaN,NaN,5.260401,5.317969
std,12427.320206,NaN,NaN,3.597711,2.777847
min,0.000000,NaN,NaN,1.000000,1.000000
25%,10762.000000,NaN,NaN,2.000000,3.000000
50%,21524.000000,NaN,NaN,5.000000,5.000000
75%,32286.000000,NaN,NaN,7.000000,7.285714
max,43048.000000,NaN,NaN,29.000000,17.285714

### Demographics

In [7]:
query = f"select * from {build_db.CENSUS_TBL}"
print(f"query = {query}")
census_df = pd.read_sql_query(query, db.conn)
census_df.describe(include='all')

query = select * from DEMOGRAPHICS

,index,zcta,hhold_size,fam_size,unemploy_rate,median_income,pct_below_poverty_lvl,median_age,pct_65_or_older,pct_hispanic,...,pct_white,pct_pacific_islander,pct_american_indian,pct_other_race,pct_high_school_grad,pct_hholds_w_computer,pct_hholds_w_internet,pct_w_health_insur,state,ZIPCODE
count,58.000000,58,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,...,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.0,58
unique,NaN,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58
top,NaN,ZCTA5 60612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60620
freq,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
mean,28.500000,NaN,2.416724,3.222759,5.306897,69298.913793,13.234483,35.377586,12.405172,21.343103,...,38.406897,0.012069,0.200000,0.210345,20.458621,88.603448,79.363793,91.806897,17.0,NaN
std,16.886879,NaN,0.545085,0.527662,3.301986,35812.102415,9.850827,3.657678,4.305705,21.570831,...,27.443210,0.032861,0.861659,0.213319,11.979237,7.252391,9.459622,4.489983,0.0,NaN
min,0.000000,NaN,1.490000,2.140000,0.200000,22158.000000,0.000000,30.200000,0.500000,1.300000,...,1.000000,0.000000,0.000000,0.000000,0.000000,69.500000,56.600000,79.800000,17.0,NaN
25%,14.250000,NaN,1.965000,2.872500,2.650000,41563.500000,5.000000,32.300000,9.900000,5.725000,...,7.900000,0.000000,0.000000,0.100000,8.425000,83.450000,73.750000,88.175000,17.0,NaN
50%,28.500000,NaN,2.500000,3.355000,4.200000,62631.500000,10.350000,34.500000,11.850000,11.500000,...,44.650000,0.000000,0.100000,0.100000,21.700000,90.100000,79.450000,91.700000,17.0,NaN
75%,42.750000,NaN,2.787500,3.607500,7.425000,94877.000000,19.200000,37.950000,15.350000,38.100000,...,62.075000,0.000000,0.100000,0.300000,30.150000,93.850000,87.400000,95.675000,17.0,NaN
max,57.000000,NaN,3.580000,4.140000,13.600000,191528.000000,38.700000,43.600000,21.500000,83.000000,...,81.800000,0.100000,6.600000,1.000000,40.600000,100.000000,95.300000,99.500000,17.0,NaN